@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700;900&display=swap");
@tailwind base;

/* Write your own custom base styles here */
.backpic {
  background: url("../public/img/hoodieback.jpg");
}
.h1-title,
.h2-title {
  font-weight: 900;
}
.vh50{
  height: 50vh;
}
.vh80 {
  height: 80vh;
}
.vh90 {
  height: 90vh;
}

div.w-full.-mt-6.pt-32.pb-24.px-12.text-center.bg-black.text-white > div > a {
  padding-left: 10px;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.gallery {
  height: 33.3%;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
